header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    padding: 1.25rem;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}