@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  touch-action: pan-x pan-y;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

body::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Opera */
}