@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

.register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-title {
  margin-bottom: 53px;
  display: flex;
  width: 120px;
  height: 53px;
  flex-direction: column;
  flex-shrink: 0;
  font-size: clamp(1rem, 2.5vw + 0.8rem, 2.75rem);
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--login);
  align-items: center;
}

.btn {
  margin-top: 56px;
  border: none;
  display: flex;
  width: 352px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  transition: 0.55s ease-in-out;
}

.register-btn {
  background: var(--register);
}

.haveAccount-btn {
  background: var(--have-account);
}

.btn:focus,
.btn:hover {
  outline: none;
  color: var(--register);
  box-shadow: 0 0 0 0.2em hsl(var(--bg--light)),
    0 0 0 0.4em hsl(var(--accent--light) / 0.8);
  transition: 0.55s ease-in-out;
}

.register-btn:disabled {
  background-color: #ccc;
  color: #000000;
  border-color: #ccc;
  cursor: not-allowed;
  transition: 0.55s ease-in-out;
}

.register-btn:disabled:hover {
  background-color: #ccc;
  color: #000000;
  transition: 0.55s ease-in-out;
}

.btn2 {
  margin-top: 15px;
}

.registerText {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.register-input {
  margin-bottom: 18px;
  display: flex;
  width: 352px;
  height: 40px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  border: 2px solid var(--input);
  background: transparent;
  transition: 0.55s ease-in-out;
}

.register-input::placeholder {
  color: hsl(var(--txt));
  font-size: clamp(0.5rem, 0.6vw + 0.4rem, 0.938rem);
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.register-input:hover,
.register-input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2em hsl(var(--bg--light)),
    0 0 0 0.4em hsl(var(--accent--light) / 0.8);
  transition: 0.55s ease-in-out;
}

.register-input.invalid {
  border-color: red;
}

.shake {
  animation: shake 0.5s linear;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

/* 375px */
@media (max-width: 23.4375em) {
  .register-input {
    width: 100%;
    max-width: 352px;
  }

  .register-btn,
  .haveAccount-btn {
    width: 100%;
    max-width: 352px;
  }
}

/* 225px */
@media (max-width: 15.9375em) {
  .register-input {
    width: 90%;
    max-width: 352px;
  }

  .register-btn,
  .haveAccount-btn {
    width: 90%;
    max-width: 352px;
  }
}
